

<!-- FOOTER -->
<div class="w-full">	 


<!-- COLUMN 1 -->

<div class="w-full bg-gray-200 p-4 text-center text-gray-700 
">


 <h3 class="text-sm font-bold pb-2 text-gray-500">Popular Articles</h3>



<ul class="p-2 text-grey-500">
		 <li class="text-sm p-3 text-gray-500 hover:text-blue-800"><a  href="https://www.designbutler.co/articles/12-how-fast-should-graphic-design-turnaround-times-be" c>What is the Best Unlimited Graphic Design Service?</a></li>
		 
		<li class="text-sm p-2 text-gray-500 hover:text-blue-800"><a  href="https://www.designbutler.co/articles/12-how-fast-should-graphic-design-turnaround-times-be">How Fast Should Graphic Design Turnaround Times Be?</a></li>
		 
		 <li class="text-sm p-2  text-gray-500 hover:text-blue-800"><a  href="https://www.designbutler.co/articles/13-powerpoint-presentation-design-part-1">Powerpoint Presentation Design Part 1: Principle of Coherence</a></li>
		 
<li class="text-sm p-2 text-gray-500 hover:text-blue-800"><a  href="https://www.designbutler.co/articles/11-how-do-I-test-evaluate-a-graphic-designers-ability">How Do I Test / Evaluate a Graphic Designer's Ability?</a></li>		
		 
		 
</ul>
</div>





<!-- COLUMN 2 -->

<div class="w-full bg-gray-200 p-4 text-center text-gray-700 
">


 <h3 class="text-sm font-bold pb-2 text-gray-500">Follow Us</h3>





<ul class="p-2 text-grey-600">
		 <li class="text-sm p-2 text-gray-500 hover:text-blue-800"><a  href="https://www.instagram.com/designbutler/" c>Instagram</a></li>
		 <li class="text-sm p-2 text-gray-500 hover:text-blue-800"><a  href="https://twitter.com/designbutler_">Twitter</a></li>
		 <li class="text-sm p-2 text-gray-500 hover:text-blue-800"><a  href="https://www.youtube.com/channel/UCGgDirp7x9mnW09BTl5PnMw/">YouTube</a></li>
		  <li class="text-sm p-2 text-gray-500 hover:text-blue-800"><a  href="https://www.facebook.com/thedesignbutler">Facebook</a></li>
		  <li class="text-sm p-2 text-gray-500 hover:text-blue-800"><a  href="https://www.linkedin.com/company/thedesignbutler/">LinkedIn</a></li>
</ul>

</div>







<!-- COPYRIGHT -->
<div class="w-full bg-gray-100 p-4 text-center text-gray-600 h-auto text-s">
Copyright &copy; <script>document.write(new Date().getFullYear())</script> Design Butler&trade; Media Inc. |  All Rights Reserved. | <a href="https://www.designbutler.co/privacy-policy" class="underline text-sm text-grey-darkest hover:text-grey-darker ">Privacy Policy</a> | <a href="https://www.designbutler.co/sitemap.xml" class="underline text-sm text-grey-darkest hover:text-grey-darker">Sitemap</a>
</div>

<div class="w-full bg-gray-100 p-4 text-center text-gray-400 h-auto text-xs">
Global Headquarters | 210-145 5th Street West - North Vancouver, BC Canada - V7M 1J7 
</div>





</div><!-- FOOTER -->	
	
</div><!-- CONTAINER -->



		 
   </body>
</html>